<li>
	{{food_name}}

	<button class="devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EaTen!!{{else}}NoT eAtEn!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">DELETE!</button>
</li>
